<nav class="navbar navbar-expand navbar-light bg-white fixed-top py-2">
  <div class="container-fluid">
  <ul class="navbar-nav nav-fill w-100">

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link" routerLink="/bassins">
        Les Bassins versants d'Anjorozafady
      </a>

      <div class="dropdown-menu dropdown-content dropdown-content-left">
        <div class="header-text">
          <table>
            <tr>
              <td>Architecture</td>
            </tr>
            <tr>
              <td>territoire</td>
            </tr>
          </table>
        </div>
        <div class="divider divider-left"></div>
        <div>
          <a class="dropdown-item" href="#">Etudes</a>
          <a class="dropdown-item" href="#">Panneaux</a>
          <a class="dropdown-item" href="#">Videos</a>
        </div>
      </div>

    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link" routerLink="/collines">
        La colline d'Ambohitsoa
      </a>
    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link" routerLink="/atelier">
        L'Atelier du Crabe
      </a>

      <div class="dropdown-menu dropdown-content dropdown-content-right">
        <div class="header-text">
          <table>
            <tr>
              <td>Design</td>
            </tr>
            <tr>
              <td>d'objets</td>
            </tr>
          </table>
        </div>
        <div class="divider divider-right"></div>
        <div>
          <a class="dropdown-item" href="#">33 amazones</a>
          <a class="dropdown-item" href="#">Coffre et désirs</a>
          <a class="dropdown-item" href="#">Les Girafes de Madagascar</a>
        </div>
        <div>
          <a class="dropdown-item" href="#">Antananarivo</a>
          <a class="dropdown-item" href="#">Tréteau, Table et Tableau</a>
          <a class="dropdown-item" href="#">l'IERSPMM et le Panier-Volant</a>
        </div>
      </div>

    </li>

  </ul>
  </div>
</nav>
