.bg {
    background-image: url("../../assets/collines/colline_en_construction.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1500px;

    margin-top: 11em;
}
