<app-multi-cards *ngIf="showContacter" sourceA="{{'../../assets/SW_Contact/A_Contact.jpg'}}" sourceB="{{'../../assets/SW_Contact/B_Contact.jpg'}}"></app-multi-cards>
<app-multi-cards *ngIf="showAPropos" sourceA="{{'../../assets/SW_A_Propos/A_propos.jpg'}}" sourceB="{{'../../assets/SW_A_Propos/B_propos.jpg'}}"></app-multi-cards>

<nav class="navbar navbar-expand navbar-light fixed-bottom bot-navbar">
  <ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown navbar-elem ">
      <a class="nav-link fa fa-facebook-f" href="https://www.facebook.com/Le-Crabe-dOr-315901425848711" target="_blank" aria-haspopup="true" aria-expanded="false">
      </a>
    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link fa fa-instagram" href="https://www.instagram.com/lecrabedor__madagascar/" target="_blank" aria-haspopup="true" aria-expanded="false">
      </a>
    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link" href="javascript:void(0)" (click)="switchShowAPropos()" aria-haspopup="true" aria-expanded="false">
        À propos
      </a>
    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link" href="javascript:void(0)" (click)="switchShowContacter()" aria-haspopup="true" aria-expanded="false">
        Contacter
      </a>
    </li>

  </ul>
</nav>