<nav class="navbar navbar-expand navbar-light fixed-bottom bot-navbar">
  <ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown navbar-elem ">
      <a class="nav-link fa fa-facebook-f" href="https://www.facebook.com/Le-Crabe-dOr-315901425848711" target="_blank" aria-haspopup="true" aria-expanded="false">
      </a>
    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link fa fa-instagram" href="https://www.instagram.com/lecrabedor__madagascar/" target="_blank" aria-haspopup="true" aria-expanded="false">
      </a>
    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link" href="#" aria-haspopup="true" aria-expanded="false">
        À propos
      </a>
    </li>

    <li class="nav-item dropdown navbar-elem">
      <a class="nav-link" href="#" aria-haspopup="true" aria-expanded="false">
        Contacter
      </a>
    </li>

  </ul>
</nav>