@font-face {
    font-family: "Aileron Light";
    src: url("assets/fonts/Aileron-Light.otf") format("opentype");
}

body, html {
    height: 100%;
    font-family: "Aileron Light"!important;
    font-size: 16px;
    color: black !important;
}