.bg {
    background-image: url("../../assets/atelier/Atelier_en_construction.jpg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 180vh;
}